
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}

.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}
.items-center {
    align-items: center;
}
.contents-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-shrink-0 {
    flex-shrink: 0;
}
.flex-shrink-1 {
    flex-shrink: 1;
}
.flex-grow-0 {
    flex-grow: 0;
}
.flex-grow-1 {
    flex-grow: 1;
}

.flex.gap-0,
.inline-flex.gap-0 {
    gap: 0rem;
}
.flex.gap-1,
.inline-flex.gap-1 {
    gap: 0.25rem;
}
.flex.gap-2,
.inline-flex.gap-2 {
    gap: 0.5rem;
}
.flex.gap-3,
.inline-flex.gap-3 {
    gap: 0.75rem;
}
.flex.gap-4,
.inline-flex.gap-4 {
    gap: 1rem;
}
.flex.gap-5,
.inline-flex.gap-5 {
    gap: 1.25rem;
}
.flex.gap-6,
.inline-flex.gap-6 {
    gap: 1.5rem;
}
.flex.gap-7,
.inline-flex.gap-7 {
    gap: 1.75rem;
}
.flex.gap-8,
.inline-flex.gap-8 {
    gap: 2rem;
}
.flex.gap-9,
.inline-flex.gap-9 {
    gap: 2.25rem;
}
.flex.gap-10,
.inline-flex.gap-10 {
    gap: 2.5rem;
}
.flex.gap-11,
.inline-flex.gap-11 {
    gap: 2.75rem;
}
.flex.gap-12,
.inline-flex.gap-12 {
    gap: 3rem;
}
.flex.gap-13,
.inline-flex.gap-13 {
    gap: 3.25rem;
}
.flex.gap-14,
.inline-flex.gap-14 {
    gap: 3.5rem;
}
.flex.gap-15,
.inline-flex.gap-15 {
    gap: 3.75rem;
}
.flex.gap-16,
.inline-flex.gap-16 {
    gap: 4rem;
}
.flex.gap-17,
.inline-flex.gap-17 {
    gap: 4.25rem;
}
.flex.gap-18,
.inline-flex.gap-18 {
    gap: 4.5rem;
}
.flex.gap-19,
.inline-flex.gap-19 {
    gap: 4.75rem;
}
.flex.gap-20,
.inline-flex.gap-20 {
    gap: 5rem;
}